.TokenVestingApp {
  background-color: #fafbfc;
  text-align: center;
}

.header {
  margin-bottom: 30px;
  padding: 20px;
  background-color: white;

  text-align: left;
  color: black;
  border-bottom: 1px solid #ecf0f2;
}

.logo {
  position: relative;
  left: -27px;
  height: 50px;
  padding-right: 14px;
  border-right: 1px solid #5cb6e4;
}

.contracts {
  display: inline-block;
  height: 50px;
  vertical-align: middle;
}

.contracts h3 {
  font-size: 20px;
  margin: 5px 0 0;
}

.contracts a {
  color: #004569;
}

.contracts span {
  color: #333;
  font-size: 11px;
}